@import '../../../variables.scss';

.CTA {
    $margin-all: 0.5em;
    background-color: transparent;
    border-radius: 1em;
    border-color: $color-alpha;
    padding: 1em;
    margin-top: $margin-all;
    margin-right: $margin-all;
    margin-bottom: $margin-all;
    cursor: pointer;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    position: relative;

    font-family: $font-main;
    color: $color-white;
    font-size: 2.4rem;
    text-decoration: none;

    transition: all .2s;

    &:hover {
        transform: translateY(-4px);
    }
}