@import '../../variables.scss';

.Contestants {
    color: $color-white;

    &__cta{
        width: fit-content;
        margin-top: 1rem;
    }

    &__heading {
        margin-bottom: 2rem;
    }
    &__gameLabel{
        padding: 0.5rem;
        margin-right: 1rem;
        font-size: 3rem;
    }
    &__gameSelect{
        display: flex;
    }

    &__gameSelectSellector{
        flex-grow: 1;
    }
    &__discord{
        display: flex;
        font-size: 3rem;
    }
    &__team {

        @media screen and (max-width: 900px) {
            width:calc(50% - 2rem);
            margin-right: 2rem;
        }
        @media screen and (max-width: 700px) {
            width: 100%;
            margin-right: 0;
        }

        &__members {
            margin-left: 2rem;
        }
        &__name {
            font-weight: bold;
            color: orange;
        }
        // &__member {
        //     display: flex;
        //     &__role {
        //         margin-left: auto;
        //     }
        //     &__name {

        //     }
        // }
    }
    &__member td{
        padding-left: 3rem;
    }
}