.GameLogo {
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
        transform: translateY(-2px);
    }
    &_minecraft {
        width: 7rem;
        height: 7rem;
    }
    &_valorant {
        width: 7rem;
        height: 7rem;
    }
    &_lol {
        width: 14rem;
        height: 8rem;   
    }
    &_counter {
        width: 10rem;
        height: 8rem;
    }
    &_rocket {
        width: 13rem;
        height: 8rem;
    }
    &_r6 {
        width: 13rem;
        height: 8rem;
    }
}