.GameLogo {
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
        transform: translateY(-2px);
    }
    &__minecraft {
        width: 7rem;
        height: 7rem;
    }
    &__valorant {
        width: 7rem;
        height: 7rem;
    }
    &__lol {
        width: 14rem;
        height: 8rem;   
    }
    &__counter {
        width: 10rem;
        height: 8rem;
    }
    &__rocket {
        width: 13rem;
        height: 8rem;
    }
    &__r6 {
        width: 13rem;
        height: 8rem;
    }
}