

.Sponsors {
    margin-top: 4rem;
    margin-left: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    @media screen and (max-width: 1100px) {
        margin-left: 4rem;
    }
    @media screen and (max-width: 500px) {
        margin-left: 2rem;
    }

    img {
        width: 13rem;
        display: block;
        margin: 1rem;

        @media screen and (max-width: 500px) {
            width: 10rem;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}