.DiscordLogo{
    &__discordLogo{
        width: 100%;
    }
}

.TwitchLogo{
    &__twitchLogo{
        width: 100%;
    }
}

.Logo{
    &__logo{
        width: 100%;
    }
}

.YoutubeLogo{
    &__youtubeLogo{
        width: 100%;
    }
}

.DocumentIcon{
    &__documentIcon{
        width: 100%;
    }
}

.ProfileIcon{
    &__profileIcon{
        width: 100%;
    }
}