@import '../../../../variables.scss';

.MarkdownPage{
    margin-top: 5rem;
    h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
    h2{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
    ul{
        margin-left: 2rem;
    }
    color: $color-white;
}