@import '../../../../../../../../variables.scss';

.KickBtn{
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 1rem;
    border: 5px solid #f00;
    border-radius: 16px;
    padding: 0.7rem;
    background-color: #f00;
    color: #fff;
    font-size: 1.5rem;
}