@import '../../../../variables.scss';

.HowToRegister {
    margin-top: 4rem;

    &__paragraph {
        margin-top: 2rem;
        &_detail {
            margin-top: .5rem;
            font-size: 1.8rem;
        }
    }
    &__video {
        width: 50vw;
        height: 28.125vw;
        @media (max-aspect-ratio: 3/2) {
            width: 95vw;
            height: 53.4375vw;
        }
    }
    &__link {
        &:hover {
            a {
                color: $color-orange;
            }
        }
        a {
            color: $color-blue;
            text-decoration: none;
        }
    }
    &__cta {
        width: 20em;
    }
    &__ol{
        font-size: 2.4rem;
        padding-left: 2rem;
    }
}