@import '../../variables.scss';

.ErrorPage{

    color: $color-white;

    @media screen and (max-width: 1000px) {
        margin-top: 15rem;
    }

    &__heading {
        margin-bottom: 10rem;
    }
}