@import '../../../../variables.scss';

.TeamUI{
    $border: 0.3rem solid $color-blue;
    border: $border;
    border-radius: 16px;
    margin-top: 1rem;
    left: 50%;
    &__spacer{
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__members{
        border-top: $border;
        top: 5vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__inviteLink{
        border-top: $border;
    }
    &__leave{
        margin: 0.5rem;
    }
    &__teamname{
        display: flex;
        color: $color-white;
        font-size: 3rem;
        padding-left: 2rem;
        &__name{
            margin: auto;
        }
    }
}