@import '../../../../variables.scss';

.TeamUI{
    border: 5px solid /*white*/$color-blue;
    border-radius: 16px;
    // position: absolute;
    margin-top: 1rem;
    // width: 50vw;
    // top: 50vh;
    left: 50%;
    // translate: -50% -50%;
    // background-color: $color-blue-dark-1;
    &__spacer{
        flex-grow: 1;
        flex-shrink: 1;
    }
    &__members{
        top: 5vh;
        // height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    &__leave{
        margin: 0.5rem;
    }
    &__teamname{
        display: flex;
        // width: 49.5vw;
        background-color: $color-blue;
        //border-bottom: 5px solid white;
        font-size: 3rem;
        padding-left: 1rem;
    }
}